.container {
    display: flex;
    height: 90vh;

}
.button {
    color: #FAF8F0;
    flex: 1;
    text-align: center;
    line-height: 60px; 
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block; 
    justify-content: center;
    align-content: center;
}
.largeFont{
    font-size: 34px;
}
.smallFont {
    font-size: 18px;
    padding: 0 60px;
    box-sizing: border-box; 
    display: inline-block; 
    line-height: normal; 
}
.button.red {
    background-color: #222222;
    color: #FAF8F0;
    border-radius: 0px;
}
.button.blue {
    background-color: #4B4E6D;
    color: #FAF8F0;
    border-radius: 0px;
}

/* header bar style - inspired by assignment 2 task 5*/
.taskHeader {
    background: linear-gradient(to right, #222222 50%, #4B4E6D 50%);
    color: #FAF8F0;

    display: flex !important;
    flex-grow: 1 !important;
    height: 10vh;
    justify-content: space-between !important;

    & h1 {
        margin-top: 3vh !important;
        margin-bottom: 0 !important;
        margin-right: 1em !important; 
        font-size: 1.75rem !important; 
    }
    #inputText {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    
    #inputText input[type="text"] {
        width: 100% !important;
        padding: 10px;
        box-sizing: border-box !important; 
        border-radius: 5px !important;
        border: 1px solid #ced4da !important;
        background-color: #fff !important;
        margin-bottom: 10px !important;
    }
    
    .btn-primary {
        width: 100% !important;
    }
}

.aboutButton {
    background-color: #FAF8F0;
    border: none;
    color: black;
    padding: 0px 10px;
    font-size: 18px;
}