.container {
    margin-top: 25vh;
    text-align: center;
    display: flex;
    flex-grow: 5;
    flex-direction: column;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
}

.button {
    flex: 1;
    text-align: center;
    line-height: 60px; 
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    align-content: center;
}

/* header bar style - inspired by assignment 2 task 5*/
.task-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    margin-bottom: 1em;
    margin-left: 5px;

    & h1 {
        margin-top: 3vh;
        margin-bottom: 0;
        margin-right: 1em;
        font-size: 1.75rem;
    }
}