body {
    height: 100vh !important;
    background-color: #4B4E6D !important;
    color: #FAF8F0 !important;
}

.sv-checkbox__decorator, .sv-radio__decorator{
    margin-bottom: -10px;
    margin-left: -41px;
}

.button {
    flex: 1 !important;
    text-align: center !important;
    line-height: 60px !important; 
    border: 2px solid transparent !important;
    border-radius: 5px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    cursor: pointer !important;
    justify-content: center !important;
    align-content: center !important;
}

/* header bar style - inspired by assignment 2 task 5*/
.taskHeader {
    display: flex !important;
    flex-grow: 1 !important;
    justify-content: space-between !important;

    margin-bottom: 1em !important;
    margin-left: 5px !important;

    & h1 {
        margin-top: 3vh !important;
        margin-bottom: 0 !important;
        margin-right: 1em !important; 
        font-size: 1.75rem !important; 
    }
}

.toggleContainer {
    display: flex !important;
    justify-content: center;
    width: 100% !important;
}

.toggle {
    text-align: center !important;
    line-height: 7vh !important; 
    border: 2px solid transparent !important;
    border-radius: 5px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    width: 20vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

